# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Parcel cache
.cache/
dist/

# Environment files
.env
.env.*.local

# Optional
.DS_Store
*.local
*.sublime-workspace

# VSCode
.vscode/
